.our-work-sec {

    .cmn-radius-box {
        overflow: visible;
        position: relative;
    }

    p {
        max-width: 850px;
        margin: 0 auto;
        font-size: 18px;
        letter-spacing: 0.54px;
    }

    .border-transform::after {
        z-index: -1;
    }

    .cmn-heading {
        margin-bottom: 20px;
    }

    .content-wrap {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
        position: relative;
        padding: 15px 20px 70px;

        @media(min-width: 1200px) {
            padding: 50px 50px 70px;
        }

        >ul {
            padding-top: 20px;
            column-count: 2;
            width: fit-content;
            margin: 0 auto;
            column-gap: 274px;
            position: relative;

            @media(max-width: 1199px) {
                max-width: calc(100% - 176px);
                column-gap: 60px;
            }

            @media(max-width: 575px) {
                max-width: 100%;
                column-gap: 40px;
            }

            li {
                text-align: left;
                margin-bottom: 0;
                padding-bottom: 20px;
                font-weight: map-get($font-weight, semi_bold);
                color: $primary_black;
                letter-spacing: 0.54px;
                break-inside: avoid-column;
                font-size: 18px;

                @media(max-width: 575px) {
                    font-size: 16px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                height: 100%;
                width: 1px;
                background-color: $primary_black;
                opacity: 0.1;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        >img {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);

            @media(min-width: 1200px) {
                left: 20px;
                transform: none;
            }
        }
    }
}