.main-footer {
    padding-top: 5rem;

    h2 {
        font-size: 2.25rem;
        font-weight: map-get($font-weight, light_bold);
        margin-bottom: 1.875rem;

        @media(max-width: 1799px) {
            font-size: 30px;
        }

        @media(max-width: 1499px) {
            font-size: 25px;
        }
    }

    .widget {
        >ul {
            &:not(:nth-of-type(1)) {
                margin-top: 35px;
            }
        }

        i {
            min-width: 25px;
        }

        a {
            display: inline-flex;
            align-items: flex-start;
            white-space: normal;
            word-break: break-word;
        }
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
        }
    }

    li {
        a {
            margin-bottom: 0;
            color: $white;
            font-size: 18px;
            font-weight: map-get($font-weight, medium);

            &:hover {
                color: $primary_green;
            }
        }

        &:not(.list-inline) {
            margin-bottom: 1rem;
        }
    }

    .socials-icons {
        margin-top: 50px;

        a {
            margin-right: 24px;
        }

        i {
            margin-right: 0;
        }
    }

    .site-logo {
        max-width: 499px;
        display: block;

        img {
            transition: $cmn_transition;
        }

        &:hover img {
            transform: scale(1.05);
        }
    }

    .term-pdf{
        padding-bottom: 10px;
        a{
            color: $lighter_white;
            font-size: 14px;
            font-weight: map-get($font-weight, medium);
            &:hover{
                text-decoration: underline;
                color: $white;
            }
        }
    }

    .footer-bottom {
        border-top: 1px solid $lightBlur_border;
        padding-top: 7px;
        padding-bottom: 7px;

        a,
        p {
            color: $lighter_white;
            font-size: 14px;
            margin-bottom: 0;
            font-weight: map-get($font-weight, medium);
            vertical-align: middle;
        }
        
        div>a {
            text-decoration: underline;
        }
        
        a+a{
            margin-left: 10px;
        }

        a:hover {
            text-decoration: underline;
            color: $white;
        }

        img {
            height: 30px;
            transition: $cmn_transition;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    @media(min-width: 1200px) {
        .footer-bottom{
            margin-top: 3.6875rem;
        }
        
        div.pe-xl-4+div {
            margin-left: -2rem;
        }
    }
}